@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
  var content = (ContentModels.LetUsKnowSection)Model.Content;

  var rootContent = Umbraco.ContentAtRoot();
  var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

  var contentAddress = siteSettings?.ContactAddress ?? "Ingen adress angiven";
  var contentPhone = siteSettings?.ContactPhone ?? "Inget telefonnummer angivet";
  var contentEmail = siteSettings?.ContactEmail ?? "Ingen email-adress angiven";
}

<section class="bg-gray-100 pt-[5rem]">

  <div class="flex max-w-7xl mx-auto px-4">
    <div class="inset-0">
      @if (content.Image != null)
      {
        <img src="@content.Image.Url()" class="object-cover" />
      }
    </div>

    <div class="pt-10 ml-20 flex flex-col gap-4">
      <p class="">@content.Text</p>
      
      <div>
        <p class="text-primary text-rte-md font-bold">Office location</p>
        <p>@contentAddress</p>
      </div>
      <div>
        <p class="text-primary text-rte-md font-bold">Phone number</p>
        <p class="italic">@contentPhone</p>
      </div>
      <div>
        <p class="text-primary text-rte-md font-bold">E-mail address</p>
        <p class="italic">@contentEmail</p>
      </div>
    </div>
  </div>

</section>